{% load static %}
<link rel="stylesheet" href="{%static 'register_loader/style.css'%}">
<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.2.0/dist/web3.min.js"></script>
<script  src="{%static 'main.js'%}"></script>
<script>
var account2 = "{{account}}";
var company = "{{company}}";
</script>
<script src="{%static 'register_loader/script.js'%}"></script>
<main role="main">
  <ul role="progressbar" aria-busy="true" aria-label="Loading domino shop">
    <li role="presentation"></li>
    <li role="presentation"></li>
    <li role="presentation"></li>
    <li role="presentation"></li>
    <li role="presentation"></li>
    <li role="presentation"></li>
    <li role="presentation"></li>
  </ul>
  <i class="account">Registering acount</i>
</main>


