{% load static %}
<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.2.0/dist/web3.min.js"></script>
<script  src="{%static 'main.js'%}"></script>
<script  src="{%static 'map/script.js'%}"></script>
<html lang="en">
<style>
#table-scroll{
	width:100%;
	height:98%;
  	overflow:auto;  
  	margin-top:20px;
}
</style>
<body>
<div id="table-scroll">
<table style="width:73px; padding: 0; border-spacing: none;" cellspacing="0" cellpadding="0">
<!-- here goes our data! -->
</table>
</div>
</body>
</html>
